*{
    margin: 0%;
    padding: 0%;
}
.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgb(38, 40, 188),rgb(155, 183, 235));

}
.icon-img{
    width: 5%;
    height: 5%;
    margin: 10px;
}
.photo-folio-head{
    text-shadow: 1;
}